.shipment-form {
  margin-top: 40px;
  margin-left: 50px;
  /* width: 600px; */
}

.shipment-form h2 {
  margin-top: 90px;
}

.detls {
  margin-left: 150px;
}

.form-row {
  margin-top: 30px;
}

.btn {
  text-align: center;
}

.bill {
  color: black;
}

.help-is-danger {
  color: lightcoral;
}

.paymentInfo p {
  color: black;
}

.submit {
  margin-left: 100px;
}
